[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sequential.pops"]
	path = sequential.pops
	url = https://github.com/rincondf/sequential.pops
